<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>com.cerner.spring.model.User</entity-name>
		<entity-width>120</entity-width>
		<entity-height>226</entity-height>
		<entity-X-Coordinate>289</entity-X-Coordinate>
		<entity-Y-Coordinate>40</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.cerner.spring.model.Role</entity-name>
		<entity-width>120</entity-width>
		<entity-height>146</entity-height>
		<entity-X-Coordinate>20</entity-X-Coordinate>
		<entity-Y-Coordinate>68</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.cerner.spring.model.Blog</entity-name>
		<entity-width>120</entity-width>
		<entity-height>186</entity-height>
		<entity-X-Coordinate>580</entity-X-Coordinate>
		<entity-Y-Coordinate>53</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.cerner.spring.model.Item</entity-name>
		<entity-width>120</entity-width>
		<entity-height>206</entity-height>
		<entity-X-Coordinate>870</entity-X-Coordinate>
		<entity-Y-Coordinate>50</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>